<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.item.dao.ItemMapper">
  <resultMap id="BaseResultMap" type="com.item.model.Item">
    <!--@mbg.generated-->
    <!--@Table item-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ItemNumber" jdbcType="VARCHAR" property="itemNumber" />
    <result column="Description" jdbcType="VARCHAR" property="description" />
    <result column="Status" jdbcType="TINYINT" property="status" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="EditTIme" jdbcType="TIMESTAMP" property="editTime" />
    <result column="editUser" jdbcType="VARCHAR" property="editUser" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, ItemNumber, Description, `Status`, CreateTime, EditTIme, editUser
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.item.model.Item">
    <!--@mbg.generated-->
    insert into item (id, ItemNumber, Description, 
      `Status`, CreateTime, EditTIme, 
      editUser)
    values (#{id,jdbcType=BIGINT}, #{itemNumber,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP}, 
      #{editUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.item.model.Item">
    <!--@mbg.generated-->
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="itemNumber != null">
        ItemNumber,
      </if>
      <if test="description != null">
        Description,
      </if>
      <if test="status != null">
        `Status`,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
      <if test="editTime != null">
        EditTIme,
      </if>
      <if test="editUser != null">
        editUser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="itemNumber != null">
        #{itemNumber,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUser != null">
        #{editUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.item.model.Item">
    <!--@mbg.generated-->
    update item
    <set>
      <if test="itemNumber != null and itemNumber != ''">
        ItemNumber = #{itemNumber,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description != ''">
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `Status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null">
        EditTIme = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUser != null and editUser != ''">
        editUser = #{editUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.item.model.Item">
    <!--@mbg.generated-->
    update item
    set ItemNumber = #{itemNumber,jdbcType=VARCHAR},
      Description = #{description,jdbcType=VARCHAR},
      `Status` = #{status,jdbcType=TINYINT},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      EditTIme = #{editTime,jdbcType=TIMESTAMP},
      editUser = #{editUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-03-28-->
  <select id="countByItemNumber" resultType="java.lang.Integer">
    select count(1)
    from item
    where ItemNumber=#{itemNumber,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-03-29-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from item
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="itemNumber != null and itemNumber != ''">
        and ItemNumber=#{itemNumber,jdbcType=VARCHAR}
      </if>
      <if test="description != null  and description != ''">
        and Description like #{description,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and `Status`=#{status,jdbcType=TINYINT}
      </if>
      <if test="createStartTime != null and createStartTime != ''">
        and Createdtime <![CDATA[ >= ]]> #{createStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createEndTime != null  and createEndTime != ''">
        and Createdtime <![CDATA[ <= ]]> #{createEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="editStartTime != null and editStartTime != ''">
        and EditTime <![CDATA[ >= ]]> #{editStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="editEndTime != null and editEndTime != ''">
        and EditTime <![CDATA[ <= ]]> #{editEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="editUser != null and editUser != ''">
        and editUser=#{editUser,jdbcType=VARCHAR}
      </if>
      order by EditTime desc
      <if test="page != null and limit != null">
        limit #{page,jdbcType=INTEGER} ,#{limit,jdbcType=INTEGER}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2022-04-02-->
  <select id="countByIdNotAndItemNumber" resultType="java.lang.Long">
    select count(1)
    from item
    <where>
      <if test="notId != null">
        and id <![CDATA[<>]]> #{notId,jdbcType=BIGINT}
      </if>
      <if test="itemNumber != null">
        and ItemNumber=#{itemNumber,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

</mapper>